body{
    background-color: #efefef;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.main{
    margin: 30px;
    background-color: white;
}

.media-object{
    height:38px;
    width: 38px;
}

.media-body .media-heading{
    color: #999999;
    /*padding-top: 10px;*/
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.question-tag{
    margin-right: 5px;
}

.community-menu{
    font-size: 13px;
    color:#999;
}

.error-page{
    margin: 50px;
}

.comment{
    margin: 10px 0;
}

.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.sub-comments .btn{
    margin: 10px 0;
}

.sub-comments .comments{
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}

.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.comment-sp{
    margin-top: 10px;
}

.menu{
    color:#999;
    margin-top: 5px;
}

.menu .icon{
    width: 58px;
    height: 30px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    line-height: 30px;
    color: #999999;
}

.menu .icon:hover{
    color: #499ef3;
}

.menu .active{
     color: #499ef3;
 }