body{
    background-color: #efefef;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.main{
    margin: 30px;
    background-color: white;
}

.media-object{
    height:38px;
    width: 38px;
}

.media-body .media-heading{
    color: #999999;
    /*padding-top: 10px;*/
}

.publish-tag-tab {
    border: #999 solid 1px;
    display: none;
    margin-top: 0;
    padding: 10px;

}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.question-tag{
    margin-right: 5px;
}

.question-related{
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.community-menu{
    font-size: 13px;
    color:#999;
}

.error-page{
    margin: 50px;
}

.comment{
    margin: 10px 0;
}

.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.sub-comments .btn{
    margin: 10px 0;
}

.sub-comments .comments{
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}

.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.comment-sp{
    margin-top: 10px;
}

.menu{
    color:#999;
    margin-top: 5px;
}

.menu .icon{
    width: 58px;
    height: 30px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    line-height: 30px;
    color: #999999;
}

.menu .icon:hover{
    color: #499ef3;
}

.menu .active{
     color: #499ef3;
 }